<!-- Footer -->
<footer class="w-full bg-zinc-200 backdrop-blur-sm text-black text-center py-4 mt-auto text-lg font-medium">
  &copy; 2025 Innovation Tracker. All rights reserved.
</footer>
</body>
</html> 